<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Who do that todo that you do?</title>
  <link rel="icon" href="static/favicon.png" />
  <link rel="stylesheet" href="static/main.css" />
  <script src="static/htmx.min.js"></script>
  <script>
    htmx.on("htmx:afterRequest", function (evt) {
      el = htmx.find('#addition');
      if (evt.target == el) {
        el.reset();
      }
    });

    htmx.on("htmx:beforeRequest", function (evt) {
      el = htmx.find('#send-error');
      htmx.addClass(el, "hide");
    })

    htmx.on("htmx:sendError", function (evt) {
      el = htmx.find('#send-error');
      el.innerHTML = "Unable to connect to server";
      htmx.removeClass(el, "hide");
    });

    htmx.on("htmx:responseError", function (evt) {
      el = htmx.find('#send-error');
      error = evt.detail.xhr.response;
      el.innerHTML = error;
      htmx.removeClass(el, "hide");
    });
  </script>
</head>

<body>
  <h1>Todo</h1>
  <form class="hform" id="addition" hx-post="/add" hx-target="#list" hx-swap="beforeend">
    <input type="text" name="newTodo" placeholder="Todo...">
    <button type="submit">Add</button>
  </form>
  <p class="hide" id="send-error">Error communicating with server</p>
  <div>
    <ul id="list">
      {{ range . }}
      {{ template "todoitem.html" . }}
      {{ end }}
    </ul>
  </div>
</body>

</html>