<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Who do that todo that you do?</title>
  <link rel="icon" href="static/favicon.png" />
  <link rel="stylesheet" href="static/main.css" />
  <script src="static/htmx.min.js"></script>
  <script>
    htmx.on("htmx:afterRequest", function (evt) {
      el = document.getElementById('addition');
      if (evt.target == el) {
        el.reset();
      }
      err = document.getElementById('send-error');
      err.style.display = "none";
    });

    htmx.on("htmx:sendError", function (evt) {
      el = document.getElementById('send-error');
      el.style.display = "block";
      console.log(evt);
    });
  </script>
</head>

<body>
  <h1>Todo</h1>
  <form class="hform" id="addition" hx-post="/add" hx-target="#list" hx-swap="beforeend">
    <input type="text" name="newTodo" placeholder="Todo...">
    <button type="submit">Add</button>
  </form>
  <p id="send-error">Error communicating with server</p>
  <div>
    <ul id="list">
      {{ range . }}
      {{ template "todoitem.html" . }}
      {{ end }}
    </ul>
  </div>
</body>

</html>